<h1>打ち上げ会場</h1>
<div class='venue'></div>
<div id='poems'>
</div>

<form>
  <label>Say something:</label><br>
  <input type='text' data-behavior='venue_speaker'>
  <select id="group" name="group">
    <option value="1">Group1</option>
    <option value="2">Group2</option>
    <option value="3">Group3</option>
  </select>
</form>
